*{
    margin:0px;
    padding:0px;
}

@media(max-width:500px){
    body{
        border:2px solid red;
        /* background-color: aqua; */
    }
    .heading h2 {
        font-size: 2.2rem;
    }
    .heading p {
        font-size: 1.5rem;
    }
    .btn{
        padding: 0.4rem 5rem;
    }
}